<header class="topbar">
  <a
    class="brand"
    routerLink="/home"
  >BookSocial</a>
  <nav>
    <a
      routerLink="/catalog"
      i18n="@@navCatalog"
    >Catalog</a>
    @if (isAuthenticated()) {
    <a
      routerLink="/feed"
      i18n="@@navFeed"
    >Feed</a>
    <app-notification-bell />
    <a
      routerLink="/shelf"
      i18n="@@navMyShelf"
    >My shelf</a>
    <button
      type="button"
      (click)="logout()"
      i18n="@@navLogout"
    >Logout</button>
    } @else {
    <a
      routerLink="/login"
      i18n="@@navLogin"
    >Log in</a>
    }
  </nav>
</header>
